@use "../abstracts";

.checkout-page {
    padding-top: 30px;
    padding-bottom: 30px;

    @include abstracts.screen(md) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @include abstracts.screen(md) {
        padding-top: 20px;
    }
}

.checkout-container {
    margin-top: 30px;

    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}

.checkout-breadcrum {
    background: var(--checkout-breadcrum-bg);
    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}

.checkout {
    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.8rem;
        }
    }

    &__desc {
        margin-top: 6px;
        font-size: 1.5rem;
        line-height: 146.667%;
    }

    &__check-all {
        margin: 30px 0;

        @include abstracts.screen(md) {
            margin: 16px 0;
        }
    }

    &__row {
        --gutter-x: 30px;
    }

    &__wrap {
        padding: 30px;

        border-radius: 20px;
        background: var(--checkout-wrap-bg);
        box-shadow: 0px 20px 60px 10px var(--checkout-wrap-shadow);

        @include abstracts.screen(md) {
            padding: 16px;
        }
    }

    &__separate {
        margin: 20px 0;

        width: 100%;
        height: 1px;
        background: #d2d1d6;
    }

    &__list {
        margin-top: 30px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 16px;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__back {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__ctrl-btn {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__input {
        appearance: none;

        width: 24px;
        height: 24px;

        &::before {
            content: url(../icons/uncheck.svg);
            filter: var(--checkout-shipping-checkbox);
        }

        &:checked::before {
            content: "";
        }

        &:checked::after {
            content: url(../icons/checked-shipping.svg);
        }
    }
}

.order-item {
    display: flex;
    column-gap: 30px;

    @include abstracts.screen(md) {
        column-gap: 16px;
    }

    &__thumb {
        width: 172px;
        height: 172px;

        object-fit: contain;

        @include abstracts.screen(md) {
            width: 60px;
            height: 60px;
        }
    }

    &__body {
        align-self: flex-start;
        flex: 1;

        display: flex;

        @include abstracts.screen(xl) {
            row-gap: 20px;
            flex-direction: column;
        }
    }

    &__name {
        display: -webkit-box;
        -webkit-line-clamp: var(--line-clamp, 2);
        -webkit-box-orient: vertical;
        overflow: hidden;

        max-width: 374px;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__wrap {
        display: flex;
        align-items: center;

        gap: 10px;

        &--price {
            margin: 16px 0;

            font-size: 1.8rem;
            font-weight: 500;
        }

        @include abstracts.screen(md) {
            &--input {
                flex-direction: column;
            }
        }
    }

    &__price {
        color: #9e9da8;

        padding-right: 6px;
        border-right: 2px solid #9e9da8;
    }

    &__status {
        color: #67b044;
    }

    &__input {
        display: flex;
        align-items: center;
        align-self: flex-start;
        gap: 10px;

        height: 44px;

        padding: 10px 20px;

        border-radius: 10px;
        border: 1px solid #d2d1d6;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        &:first-child {
            margin-right: 10px;
        }

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__sumary {
        display: flex;
        flex-direction: column;

        @include abstracts.screen(xl) {
            flex-direction: row;
            align-items: center;
            column-gap: 30px;
        }

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__total {
        text-align: right;

        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;

        @include abstracts.screen(xl) {
            text-align: left;
        }

        @include abstracts.screen(md) {
            font-size: 1.8rem;
        }
    }

    &__ctrl {
        display: flex;
        gap: 20px;

        margin-top: auto;
        height: 44px;
        color: #9e9da8;

        font-weight: 500;
        line-height: 150%;
    }

    &__icon {
        filter: brightness(0) saturate(100%) invert(64%) sepia(7%)
            saturate(331%) hue-rotate(206deg) brightness(98%) contrast(87%);
    }
}

.order-totals {
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__row + &__row {
        margin-top: 14px;
    }

    &__label {
        font-weight: 500;

        & span {
            font-weight: 400;
        }
    }

    &__value {
        font-weight: 700;
    }

    &__btn-checkout {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 30px;
        margin-left: auto;

        max-width: 150px;
        height: 44px;

        border-radius: 50px;
        background: #ffb700;
    }
}

.gift {
    display: flex;
    align-items: center;
    column-gap: 20px;

    &__thumb {
        display: block;
        padding: 10px;

        border-radius: 14px;
        background: var(--checkout-gift-bg);
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 10px;

        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
    }
}

// Shipping
.shipping {
    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;

        @include abstracts.screen(md) {
            font-size: 2rem;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__title,
    &__btn {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 4px;

        font-size: 1.5rem;
        line-height: 146.667%;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;

        padding: 10px 20px;

        border-radius: 30px;
        background: #ffb700;
    }

    &__list {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.address-item + .address-item {
    margin-top: 30px;
}

.address-item {
    display: flex;
    gap: 16px;

    @include abstracts.screen(md) {
        flex-direction: column;
    }

    &__info {
        flex: 1;
        display: flex;
        gap: 16px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__detail {
        margin-top: 4px;

        font-size: 1.5rem;
        line-height: 146.667%;
        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__list {
        display: flex;
        gap: 30px;

        margin-top: 20px;
        list-style: disc inside;

        @include abstracts.screen(md) {
            flex-direction: column;
            gap: 16px;
            margin-top: 16px;
            font-size: 1.4rem;
        }
    }

    &__ctrl {
        display: flex;
        align-items: flex-end;
    }
}

// Payment
%title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;

    @include abstracts.screen(md) {
        font-size: 1.5rem;
    }
}

.payment {
    &__row {
        display: flex;
        justify-content: space-between;

        @include abstracts.screen(lg) {
            gap: 40px;
        }
    }

    &__card {
        margin-top: 30px;
        padding: 20px;

        border-radius: 20px;
        background: var(--payment-card-bg);

        @include abstracts.screen(md) {
            padding: 16px;
        }
    }

    &__address {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        @extend %title;
    }

    &__sub-text {
        margin-top: 6px;

        font-size: 1.5rem;
        font-weight: 400;
        line-height: 146.667%;
    }

    &__form-title {
        display: block;
        margin: 20px 0;
    }

    &__form-group {
        margin: 20px 0 30px;
        padding: 12px 0;
    }

    &__form-input {
        width: 100%;

        padding: 0 12px;

        &:first-child {
            border-right: 1px solid #d2d1d6;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 30px;
        padding: 12px 30px;
        border-radius: 10px;
        background: #ffb700;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 145.455%;
    }
}

.shipping-method {
    display: flex;
    align-items: center;
    gap: 20px;

    @include abstracts.screen(md) {
        &__thumb {
            align-self: flex-start;
            width: 60px;
            height: 48px;
        }
    }

    &__wrap,
    &__checkbox {
        display: flex;
        align-items: center;
    }

    &__wrap {
        flex: 1;
        justify-content: space-between;

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
    }

    &__checkbox {
        flex-direction: row-reverse;
        gap: 14px;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    &__sub {
        color: #9e9da8;

        line-height: 150%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__cost {
        @extend %title;

        color: #9e9da8;
    }

    &__input::before {
        filter: brightness(0) saturate(100%) invert(66%) sepia(17%)
            saturate(129%) hue-rotate(206deg) brightness(93%) contrast(93%);
    }

    &__input:checked ~ &__cost {
        color: var(--text-color);
    }
}

// Favourite
.favourite-card {
    display: flex;
    gap: 20px;

    &__order {
        flex: 1;
    }

    &__name {
        max-width: 100%;
    }

    &__order-body {
        justify-content: space-between;
    }

    &__wrap {
        display: flex;
        gap: 30px;

        .order-item__input:first-child {
            margin-right: 0;
        }

        @include abstracts.screen(lg) {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__btn {
        margin-top: auto;
        padding: 15px 30px;
        border-radius: 50px;
        background: #ffb700;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 145.455%;

        @include abstracts.screen(md) {
            padding: 12px 24px;

            &--checkout {
                margin-top: 16px;
            }
        }
    }
}
