html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%)
        saturate(23%) hue-rotate(255deg) brightness(107%) contrast(107%);

    --header-bg-color: #171c28;
    --header-act-btn-color: #292e39;
    --header-act-btn-shadow-color: rgba(0, 0, 0, 0.2);
    --header-act-sperate-color: #ededf6;
}
