@use "../abstracts";

html.dark {
    --text-color: #b9babe;
    --icon-color: brightness(0) saturate(100%) invert(94%) sepia(10%)
        saturate(81%) hue-rotate(190deg) brightness(81%) contrast(84%);

    --body-bg-color: #292e39;

    // Header
    --header-bg-color: #171c28;
    --header-mobile-bg-color: #171c28;
    --header-shadow-color: rgba(0, 0, 0, 0.2);
    --header-act-btn-color: #292e39;
    --header-act-btn-shadow-color: rgba(0, 0, 0, 0.2);
    --header-act-sperate-color: #ededf6;

    // Dropdowm cart
    --dropdown-cart-bg: #1b202c;
    --dropdown-cart-shadow: rgba(23, 28, 40, 0.4);
    --dropdown-cart-deco-bg: brightness(0) saturate(100%) invert(10%) sepia(21%)
        saturate(897%) hue-rotate(183deg) brightness(98%) contrast(93%);

    // Dropdown
    --dropdown-bg: #171c28;
    --dropdown-bg-fillter: brightness(0) saturate(100%) invert(6%) sepia(45%)
        saturate(796%) hue-rotate(184deg) brightness(90%) contrast(88%);
    --dropdown-shawdown: rgba(23, 28, 40, 0.4);
    --dropdown-menu-border: #333d53;
    --dropdown-icon2-color: brightness(0) saturate(100%) invert(100%) sepia(1%)
        saturate(5420%) hue-rotate(182deg) brightness(95%) contrast(108%);

    // Sidebar
    --sidebar-bgr: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

    // Cate-item
    --cate-bg: #171c28;
    --cate-bg-img: #292e39;
    --cate-tile-color: #fff;

    // Button
    --btn-filter-bg: #171c28;
    --btn-filter-text-color: #fff;
    --btn-like-bg: #292e39;
    --btn-like-shadow: rgba(124, 124, 124, 0.2);

    // Product
    --product-bg: #171c28;
    --product-shadows: rgba(0, 0, 0, 0.2);

    // Form filter
    --form-filter-bgr: #171c28;
    --form-filter-shadow: rgba(0, 0, 0, 0.4);
    --form-tag-bg: #292e39;
    --form-filter-deco-bg: brightness(0) saturate(100%) invert(6%) sepia(6%)
        saturate(7072%) hue-rotate(185deg) brightness(88%) contrast(87%);
    --form-label-color: #363539;

    // Footer
    --footer-bg: #171c28;

    // Auth
    --auth-intro-bg: #171c28;
    --auth-content-bg: #292e39;

    // Product detail
    --product-page-bg: #292e39;
    --product-detail-info-shadow: rgba(23, 28, 40, 0.2);
    --product-detail-form-tag-bg: #292e39;
    --product-detail-info-card-color: #000;

    --product-detail-info-bg: #171c28;
    --product-detail-info-shadow: rgba(23, 28, 40, 0.2);

    // Breadcrumb
    --breadcrumb-bg: #171c28;
    --breadcrumb-shadow: rgba(23, 28, 40, 0.2);

    // Search
    --search-bg: #171c28;

    // Review card
    --review-card-bg: #171c28;

    // Checkout page
    --checkout-breadcrum-bg: var(--breadcrumb-bg);
    --checkout-wrap-bg: #171c28;
    --checkout-wrap-shadow: rgba(23, 28, 40, 0.2);
    --checkout-gift-bg: #292e39;
    --checkout-shipping-checkbox: var(--icon-color);

    --payment-card-bg: var(--body-bg-color);

    // Dialog
    --dialog-bg: #171c28;
    --dialog-shadow: rgba(23, 28, 40, 0.2);

    // Profile
    --profile-bg: #171c28;
}
