@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(15%)
        saturate(2600%) hue-rotate(211deg) brightness(89%) contrast(96%);

    --body-bg-color: #f6f6f6;

    // Header
    --header-bg-color: #eee;
    --header-shadow-color: rgba(237, 237, 246, 0.2);
    --header-mobile-bg-color: #fff;
    --header-act-btn-color: #fff;
    --header-act-btn-shadow-color: rgba(29, 29, 45, 0.2);
    --header-act-sperate-color: #ededf6;

    // Dropdowm cart
    --dropdown-cart-bg: #fff;
    --dropdown-cart-shadow: rgba(200, 200, 200, 0.4);

    // Dropdown navabar
    --dropdown-bg: #fff;
    --dropdown-shawdown: rgba(200, 200, 200, 0.4);
    --dropdown-menu-border: #d2d1d6;

    // Sidebar
    --sidebar-bgr: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    @include abstracts.screen(md) {
        --header-bg-color: #fff;
    }

    // Cate-item
    --cate-bg: #eee;
    --cate-bg-img: #fff;
    --cate-tile-color: #000;

    @include abstracts.screen(md) {
        --cate-bg: #fff;
        --cate-tile-color: #1a162e;
    }

    // Button
    --btn-filter-bg: #fff;
    --btn-filter-text-color: #6c6c72;
    --btn-like-bg: #fff;
    --btn-like-shadow: rgba(124, 124, 124, 0.2);

    // Product
    --product-bg: #fff;
    --product-shadows: rgba(237, 237, 246, 0.2);

    // Form filter
    --form-filter-bgr: #fff;
    --form-filter-shadow: rgba(200, 200, 200, 0.4);
    --form-tag-bg: #f8f8fb;

    // Footer
    --footer-bg: #eee;

    // Auth
    --auth-intro-bg: #fafafd;
    --auth-content-bg: #fff;

    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }

    // Product detail
    --product-page-bg: #fff;
    --product-detail-info-bg: #f6f6f6;
    --product-detail-form-tag-bg: #ededf6;
    --product-detail-info-card-text-color: #eee;

    @include abstracts.screen(md) {
        --product-detail-info-bg: #fff;
        --product-detail-info-shadow: rgba(237, 237, 246, 0.2);
    }

    // Breadcrumb
    --breadcrumb-bg: #f6f6f6;
    --breadcrumb-shadow: rgba(237, 237, 246, 0.2);

    @include abstracts.screen(md) {
        --breadcrumb-bg: #fff;
    }

    // Review card
    --review-card-bg: #f6f6f6;

    // Checkout page
    --checkout-breadcrum-bg: #fff;
    --checkout-wrap-bg: #fff;
    --checkout-wrap-shadow: rgba(237, 237, 246, 0.2);
    --checkout-gift-bg: rgba($color: #7644e1, $alpha: 0.1);
}
