html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(15%)
        saturate(2600%) hue-rotate(211deg) brightness(89%) contrast(96%);

    --header-bg-color: #eee;
    --header-act-btn-color: #fff;
    --header-act-btn-shadow-color: rgba(237, 237, 246, 0.2);
    --header-act-sperate-color: #ededf6;
}
