@use "../abstracts";

%df-align-center {
    display: flex;
    align-items: center;
}

%text-font {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
}

.header {
    background: var(--header-bg-color);
    padding-top: 20px;
    padding-bottom: 20px;

    @include abstracts.screen(lg) {
        padding-top: 16px;
        padding-bottom: 16px;

        &__list-icon {
            margin-right: 15px;
        }
    }

    @include abstracts.screen(md) {
        background: var(--header-mobile-bg-color);
        box-shadow: var(--header-shadow-color);
        &__list-icon {
            margin-right: 0;
        }
    }
}

.heder__inner {
    @extend %df-align-center;
    position: relative;
    z-index: 1;

    @include abstracts.screen(lg) {
        justify-content: space-between;
    }

    @include abstracts.screen(md) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.header__logo {
    @include abstracts.screen(lg) {
        margin-right: auto;
    }

    @include abstracts.screen(md) {
        margin-right: 0;

        &__title {
            font-size: 1.8rem;
        }

        &__img {
            width: 24px;
        }
    }
}

.header__list-icon {
    display: block;
}

.navbar {
    margin-left: 144px;
    margin-right: auto;

    @include abstracts.screen(xl) {
        margin-left: auto;
    }

    @include abstracts.screen(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 9;

        padding: 30px 40px;
        translate: -100%;
        transition: translate 0.5s;

        background: var(--sidebar-bgr);
        border-radius: 0px 20px 20px 0px;
        box-shadow: 0px 40px 90px 20px var(--sidebar-shadow);

        &.show {
            translate: 0;
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    @include abstracts.screen(md) {
        right: 35%;
    }

    @include abstracts.screen(sm) {
        right: 14%;
        padding: 20px;
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;

        @include abstracts.screen(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;

            background: rgba($color: #000000, $alpha: 0.3);
            transition-property: visibility, opacity;
            transition-duration: 0.5s;
        }
    }

    .navbar-btn {
        align-items: center;
        height: 44px;

        &__title,
        &__qty {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
        }

        &__title {
            margin-left: 16px;
            margin-right: auto;
        }
    }

    &__btn-back {
        padding: 0 0 10px;
    }

    &__list {
        @extend %df-align-center;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
            height: calc(100% - 20px);
            overscroll-behavior: none;
            overflow-y: auto;
        }

        @include abstracts.screen(md) {
            height: calc(100% - 115px);
        }
    }

    &__item + &__item {
        padding-left: 30px;

        @include abstracts.screen(lg) {
            padding-left: 0;
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.screen(lg) {
            &:hover .dropdown {
                display: none;
            }
            &--active .dropdown {
                display: block !important;
            }

            width: 100%;
        }
    }

    &__link {
        @extend %text-font;
        @extend %df-align-center;
        column-gap: 6px;
        padding: 10px 0;
        height: 50px;

        @include abstracts.screen(lg) {
            justify-content: space-between;
        }

        @include abstracts.screen(sm) {
            height: 44px;
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__arrow {
        margin-top: 4px;

        @include abstracts.screen(lg) {
            rotate: -90deg;
            transition: rotate 0.2s;
        }
    }

    &__item--active &__arrow {
        rotate: 0deg;
    }
}

.header-act {
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 50px;

    &__btn-sign-in,
    &__btn-sign-up {
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
    }

    &__btn-sign-in {
        color: #9e9da8;
    }

    &__btn-sign-up {
        color: #1a162e;

        padding: 0 20px;

        border-radius: 6px;
        background: #ffb700;
        @include abstracts.screen(md) {
            height: 40px;
        }

        @include abstracts.screen(sm) {
            padding: 0 10px;

            font-size: 1.2rem;
        }
    }

    %act-common {
        border-radius: 8px;
        background: var(--header-act-btn-color);
        box-shadow: 0px 20px 60px 10px var(--header-act-btn-shadow-color);
    }

    .btn-seacrh {
        @extend %act-common;
        width: 50px;
        height: 100%;

        @include abstracts.screen(lg) {
            display: none;
        }
    }

    &__group {
        @extend %act-common;
        display: flex;
        align-items: center;
        column-gap: 20px;

        padding: 10px 20px;

        @include abstracts.screen(md) {
            display: none;
        }
    }

    &__sperate {
        width: 1px;
        height: 30px;
        background: var(--header-act-sperate-color);
    }

    .header-btn {
        @extend %df-align-center;
        column-gap: 10px;
        padding: 0;

        &__title {
            @extend %text-font;
        }
    }

    &__user {
        @extend %act-common;
        cursor: pointer;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: inherit;
        object-fit: cover;
    }
}

// Dropdown Cart
.header-act__wrap {
    position: relative;

    &:hover .act-dropdown {
        opacity: 1;
        visibility: visible;
    }
}

.act-dropdown {
    position: absolute;
    top: 100%;
    right: -40px;

    padding-top: 35px;

    width: min(450px, 100vw);

    opacity: 0;
    visibility: hidden;

    transition-property: opacity, visibility;
    transition: 0.2s linear;

    &__inner {
        position: relative;
        padding: 20px;

        border-radius: 20px;
        background: var(--dropdown-cart-bg);
        box-shadow: 0px 40px 90px 20px var(--dropdown-cart-shadow);
    }

    &__arrow-deco {
        position: absolute;
        height: 20px;
        right: 20px;
        top: -17px;

        filter: var(--dropdown-cart-deco-bg);
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__row + &__row {
        margin-top: 20px;
    }

    &__title {
        font-weight: 500;
    }

    &__link {
        color: #0071dc;
    }

    &__list {
        display: flex;
        column-gap: 20px;
        overflow: hidden;

        margin: 20px 0;
    }

    &__item {
        flex: 1;
    }

    &__body {
        margin: 20px 0 10px;
        padding: 20px 0;

        border-style: solid;
        border-width: 1px;
        border-color: #d2d1d6 transparent;
    }

    &__bottom {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__btn-checkout {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 240px;
        height: 44px;

        border-radius: 50px;
        background: #ffb700;

        font-weight: 500;
    }
}
