@use "../abstracts";

.form {
    width: 100%;

    &__group {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }
    }

    &__text-input {
        display: flex;
        align-items: center;

        padding: 12px;

        border-radius: 10px;
        border: 1px solid #d2d1d6;
    }

    &__input {
        width: 100%;
        font-size: 1.8rem;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }

        &::placeholder {
            color: #d2d1d6;

            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            @include abstracts.screen(md) {
                font-size: 1.6rem;
                line-height: 150%;
            }
        }
    }

    &__input-icon {
        margin-left: 12px;
    }

    &__row {
        display: flex;
        justify-content: space-between;

        margin-top: 20px;
    }

    &__checkbox {
        position: relative;

        user-select: none;
        cursor: pointer;

        &::before,
        &::after {
            position: absolute;
            left: 0;
        }

        &::before {
            content: url(../icons/uncheck.svg);
            filter: var(--icon-color);
        }
    }

    &__checkbox:has(:checked) {
        &::after {
            content: url(../icons/checked.svg);
        }
    }

    &__input-label {
        padding-left: 34px;

        color: #9e9da8;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 142.857%;
        }
    }
}
