@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background: var(--body-bg-color);
    scroll-behavior: smooth;
}

a,
img,
button,
input,
select,
textarea {
    font-family: inherit;
    color: inherit;
}

textarea,
input,
button {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background: transparent;

    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.icon {
    filter: var(--icon-color);
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: 600;
}
