$grid-breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@mixin screen($key) {
    $breakpoit: map-get($grid-breakpoints, $key);

    @if ($breakpoit) {
        @media (max-width: ($breakpoit - 0.02)) {
            @content;
        }
    } @else {
        @error 'The value "#{$key}" is not breakpoint';
    }
}
